<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|DM+Serif+Display&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
    <body>
    <header>
      <%- include ../partials/_navbar.ejs %>
    </header>
        <main>
        <div>
            <section>
                <h1><%=item.title%></h1>
                <img class="showing" src="<%=item.img%>">
                <p class="showing"><%=item.description%></p>
                 <p class="showing">Uploaded by: <%=user.username%></p>
            </section>
        </div>

            <%if(item.user == session.userId) {%>
            <div class="editDelete">
            <section class="editButton showing"> 
                <form action='/items/<%=item._id%>/edit'>
                    <input class='editButton' type="submit" value="Edit Your Item">
                </form>
            </section>

            <section class="deleteButton showing">
                <form action='/items/<%=item._id%>?_method=DELETE' method='post'>
                    <input class='deleteButton' type="submit" value="Trash Your Item">
                </form>
            </section>
            </div>
            <%}%>
            <br/>
            <br/
            <br/>
        </main>
    </body>
  <footer>
    <%- include ../partials/_footer.ejs %>
  </footer>
</html>