<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|DM+Serif+Display&display=swap" rel="stylesheet">
        <title>User Show Page</title>
    </head>
    <body>
        <header>
            <%- include ../partials/_navbar.ejs %>
        </header>

        <main>
            <section>
                    <h2><%=user.username%>'s Cool Stuff</h2>
                <ul>
                <li class='userImages'>
                    <% items.forEach(function(item, index) {%> <!-- items is the array of objects --> 
                    <a href="/items/<%=item._id%>"><img src="<%=item.img%>" class='userImages'></a>
                    <%})%>
                </li>
                </li>
            </section>
   
        </main>
    </body>

    <footer>
        <%- include ../partials/_footer.ejs %>
    </footer>
</html>