<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
        <title>User Show Page</title>
    </head>
    <body>
        <header>
            <%- include ../partials/_navbar.ejs %>
        </header>

        <main>
            <section>
                    <h2><%=user.username%>'s Cool Stuff</h2>
                <ul>
                <li>
                    <% items.forEach(function(item, index) {%> <!-- items is the array of objects --> 
                    <a href="/items/<%=item._id%>"><img src="<%=item.img%>"></a>
                    <%})%>
                </li>
                </li>
            </section>
            <%if(user._id == session.userId) {%>
            <section>
               <form action='/users/<%=user._id%>/edit'>
                    <input type="submit" value="Edit Your Info">
                </form>
            </section>
            <section>
                <form action='/users/<%=user._id%>?_method=DELETE' method='post'>
                    <input type="submit" value="Delete your Account">
                </form>
            </section>
            <%}%>
        </main>
    </body>

    <footer>
        <%- include ../partials/_footer.ejs %>
    </footer>
</html>